:root {
  --primary: #295cbf;
  --btnColor: #1e3a5f;
  --btnHover: #1a3250;
  --txtLight: #675f5f;
  --lightBG: #f3f3f5;
  --success: #0a0;
  --danger: #e05a5a;
  --muted: #666666;
  --light-bg: #f7f7f8;
  --flag-bg: #fff6f6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.referrals-section {
  padding: 0 2% 2% 2%;
}

.admin-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  margin-bottom: 10px;
}

.admin-heading h3 {
  color: var(--primary);
  font-size: 30px;
}

.admin-heading p {
  padding: 2px 10px;
  border: 1px solid var(--primary);
  border-radius: 50px;
  font-size: 13px;
}

.referral-content {
  padding: 1%;
  background-color: white;
  border: 1px solid;
}

/* Campaigns */

.compaigns-head-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.compaigns-head-and-button h3 {
  color: #295cbf;
  font-size: 25px;
}

.compaignsStatus {
  font-weight: 500;
}

.compaigns-form-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.form-group-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.input-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.input-block label {
  font-weight: 500;
}

.full-width {
  grid-column: span 2;
}

.smallText {
  font-size: 12px;
  opacity: 0.7;
}

.inputField {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #cccccc98;
  padding: 0 12px;
  font-size: 14px;
  background-color: #f3f3f5;
}

.errorText {
  color: #e05a5a;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 500;
}

.infoText {
  font-size: 13px;
  opacity: 0.8;
  margin-top: -10px;
}

.updateButton {
  width: 100%;
  height: 48px;
  background: #1c3faa;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.updateButton:hover {
  background: #153289;
}

.dropdownWrapper {
  width: 100%;
  height: 45px;
  border: 1px solid #cccccc98;
  border-radius: 8px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: #f3f3f5;
  z-index: 10;
}

.dropdownList {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f3f3f5;
  overflow: hidden;
  z-index: 50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.dropdownItem {
  padding: 10px 12px;
  cursor: pointer;
  transition: 0.2s;
}

.dropdownItem:hover {
  background: white;
}

/* Analytics */

.analytics-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.card {
  display: flex;
  gap: 10px;
  padding: 30px 15px;
  border: 1px solid #cccccc90;
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 10px #0000001d;
  align-items: center;
}
.card-icon {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eff6ff;
  border-radius: 8px;
  padding: 0.4rem;
}

.head-and-value p {
  font-size: 14px;
}

.analytics-funnels {
  margin-top: 20px;
}
.analytics-funnels h4 {
  color: var(--primary);
}

.progress-track {
  width: 100%;
  background: #eee;
  border-radius: 6px;
  margin-top: 10px;
}

.progress-fill {
  height: 8px;
  background: #295cbf;
  border-radius: 6px;
}
.label-and-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.label-and-value label {
  font-size: 13px;
}
.label-and-value p {
  font-size: 14px;
  color: var(--primary);
  font-weight: 500;
}
/* Fraud Monitor */
.fraud-card {
  padding: 3% 4%;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  align-items: center;
}
.icon{
  margin-right: 20px;
}
.cases-review,
.cases-review-title {
  gap: 20px;
  align-items: center;
}

.cases-review-title {
  width: 100%;
  justify-content: space-between;
}
.cases-review p {
  padding: 5px 20px;
  border: 1px solid var(--primary);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary);
}
.cases-review button {
  padding: 8px 20px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--btnColor);
  color: white;
  border: 1px solid var(--btnColor);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.cases-review button:hover {
  background-color: var(--btnHover);
  border: 1px solid var(--btnHover);
}

/* Payouts */
.payoutHead{
  margin-bottom: 40px;
  color: var(--primary);
  font-size: 20px;
}
.pending-cards{
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2,1fr);
}

.pending-card{
  padding: 6% 20px;
  border: 1px solid #16A34A;
  background-color: #F0FDF4;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.pending-card h4{
  color: #16A34A;
}

.pending-card2{
    border: 1px solid #8A38F5;
  background-color: #F7F0FF;

}

.pending-card2 h4{
  color: #8A38F5;
}
.pending-buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.pending-buttons button{
  padding: 20px;
  border: 1px solid var(--btnColor);
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.payoutButton1{
   background-color: transparent;
  color: var(--btnColor);
}
.payoutButton2{
  background-color: var(--btnColor);
  color: white;
}
.payoutButton2:hover{
  background-color: var(--btnHover);
}
.payoutButton1:hover{
   background-color: #e8e6e662;
}
.search-bar-and-pending-count{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  /* gap: 20px; */
}
.search-bar input{
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 300px;
}

.search-bar-and-pending-count p{
  font-size: 14px;
  padding: 3px 10px;
  border: 1px solid var(--primary);
  border-radius: 50px;
  font-weight: 500;
  color: var(--primary);
}
.payout-card{
  padding: 10px 20px;
  border: 1px solid #cccccc68;
  margin-bottom: 10px;
  box-shadow: 2px 2px 10px #0000001d;
  border-radius: 8px;
  
}
.payout-head{
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.payout-head h4{
  font-size: 16px;
  color: var(--primary);
}


.status {
  padding: 3px 10px;
  border-radius: 5px;
  font-weight: bold;
   font-size: 12px;
}

.approved {
  background-color: #d8f3dc; /* very light green */
  border: 1px solid #3cb371;
  color: #006400;
}

.pending {
  background-color: #fffce6; /* very light yellow */
  border: 1px solid #ffd700;
  color: #8b8000;
}

.rejected {
  background-color: #f9dada; /* very light red */
  border: 1px solid #8b0000;
  color: #660000;
}

.payout-body{
  align-items: center;
  gap: 50px;
}

.payout-body p{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.payoutAmount{
 color: #16A34A;
}
.payoutAmount span{
  color: grey;
}
.payout-left button{
  padding: 8px 15px;
  background-color: var(--btnColor);
  color: white;
  border: 1px solid var(--btnColor);
  border-radius: 4px;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.payout-left button:hover{
  background-color: var(--btnHover);
  border: 1px solid var(--btnHover);
}
.flagged{
  color: red;
  font-weight: 600;
  font-size: 13px;
}
.transId-flagged{
  align-items: center;
  gap: 25px;
}
.detailsContainer{
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.detailsHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.detailsLeft{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.referrerName{
  margin: 0;
  font-size: 18px;
}

.inviteeName{
  margin: 0;
  color: var(--muted);
}

.detailsRight{
  text-align: right;
}

.amountGreen{
  margin: 0;
  font-weight: 600;
  color: var(--success);
}

.muted{
  margin: 0;
  color: var(--muted);
  font-size: 13px;
}

.detailsList{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.flaggedBox{
  border: 1px solid #e6b8b8;
  background: var(--flag-bg);
  padding: 16px;
  border-radius: 8px;
  margin-top: 8px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.flagIcon{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid var(--danger);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: var(--danger);
}


.flaggedTitle{
  margin: 0;
  font-weight: 700;
  color: #c22;
}

.flaggedText{
  margin: 0;
  color: #a33;
}

.moreDetails{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.actionsRow{
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 8px;
}

.btn{
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: transparent;
}

.btnClose{
  background: transparent;
  border: 1px solid #ddd;
}

.btnApprove{
  background: var(--primary);
  color: white;
}

.btnReject{
  background: var(--danger);
  color: white;
}
/* Export */


.exportTitle {
  font-size: 20px;
  font-weight: 600;
  color: #1c67da;
  margin-bottom: 25px;
}

.btnRow {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.exportBtn {
  flex: 1;
  padding: 12px 0;
  border: 2px solid #1c67da;
  background: transparent;
  color: #1c67da;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.exportBtn:hover {
  background: #1c67da;
  color: white;
}

.label {
  font-size: 15px;
  margin-bottom: 8px;
  display: block;
  color: #333;
}



.generateBtn {
  width: 100%;
  margin-top: 25px;
  background: #1c67da;
  padding: 14px;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
}

.generateBtn:hover {
  opacity: 0.9;
}

.ExportdropdownWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.ExportdropdownTrigger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 12px;
  border-radius: 6px;
  border: 1px solid #cccccc98;
  background: #f3f3f5;
  cursor: pointer;
}

.caret {
  margin-left: 8px;
}

.ExportdropdownList {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  right: 0;
  z-index: 40;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  border-radius: 6px;
  background: #f3f3f5;
  max-height: 200px;
  overflow: auto;
  padding: 6px 0;
  border: 1px solid #cccccc98;
}

.ExportdropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  outline: none;
}

.ExportdropdownItem:focus {
  background: #f3f4f6; /* light */
}

.selectedItem {
  font-weight: 600;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}



/* Responsive */

@media (max-width: 768px) {
  .form-group-row {
    grid-template-columns: 1fr;
  }
  .admin-heading {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .pending-cards{
    grid-template-columns: 1fr;
  }

  .search-bar-and-pending-count{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .search-bar,.search-bar input{
    width: 100%;
  }

  .payout-body{
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}

@media (max-width: 700px) {
  .cases-review-title {
    flex-direction: column;
    gap: 20px;
  }

  
}
