.wrapper {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.headerBox {
  background: #d9ecff;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 25px;
  color: #000000;
}

.headerBox h1 {
  margin: 5px 0;
  font-size: 26px;
  font-weight: 700;
    color: #000000;
}

.headerBox h2 {
  font-size: 18px;
  color: #3b3b3b;
}

.headerBox p {
  margin-top: 4px;
  color: #666;
}

.searchBar,
.searchBarOverride {
  display: flex;
  align-items: center;
  background: #ECECF0;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 12px 12px;
  width: 300px;
}

.searchBarOverride {
  margin-left: auto;
}

.searchIcon {
  font-size: 18px;
  color: #6a6a6a;
  margin-right: 8px;
}

.searchInput {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}

.kycPanelHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.kycHeaderActions {
  display: flex;
  gap: 12px;
  align-items: center;
}

.btnOverride {
  background: #264DAF;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.btnOverride:hover {
  background: #0047d4;
}

.btnBack {
  background: #fff;
  border: 1px solid #0047d4;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}


.kycTableContainer,
.overrideTableContainer {
  overflow-x: auto;
  padding: 12px;
   margin-top: 12px;
 overflow-x: auto; 
border-radius: 20px;
border: #656363 1px solid;
margin-left: -15px;
overflow-y: auto;
 overflow-x: auto;
}

.kycTable,
.overrideTable {
  width: 100%;
  border-collapse: collapse;

}
.kycTable th,
.overrideTable th {
  padding: 20px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #888686;
}

.kycTable td,
.overrideTable td {
  padding: 20px;
  border-bottom: 1px solid #888686;
  font-size: 14px;
}
.overrideTable th{
  padding-left: 30px;
}
.userInfo {
  display: flex;
  flex-direction: column;
}

.userName {
  font-weight: 600;
}

.userEmail {
  font-size: 12px;
  color: #777;
}

.overrideTitle {
  font-size: 22px;
  margin: 15px 0;
  font-weight: 700;
  color: #000000;
}
.overrideTable td {
  padding: 30px;
}
.adminBox {
  background: white;
  padding: 20px;
  margin-top: 30px;
  border-radius: 12px;
  border: 1px solid #e6e6e6;
}

.adminIconTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.adminIcon {
  font-size: 28px;
  fill: #000000;
}

.panelTitle {
  font-size: 18px;
  font-weight: 600;
}

.restrictionsGrid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.checkboxLabel {
  font-size: 14px;
}

.reminderRow {
  width: 100%;
  max-width: 1000%;
  border: 1px solid #e2e2e2;
  background: #fff;
  padding: 12px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
margin-top: 0%;
margin-bottom: 50px;

}

.reminderText {
  font-size: 14px;
  font-weight: 600;
}

.toggleWrapper {
  position: relative;
  width: 48px;
  height: 26px;
  display: inline-block;
}

.toggleInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSlider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.toggleSlider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.toggleInput:checked + .toggleSlider {
  background-color: #264DAF;
}

.toggleInput:checked + .toggleSlider:before {
  transform: translateX(22px);
}


.headerAdmin {
  margin: 2px 0;
  font-size: 32px;
  font-weight: 700;
}

.headerSub {
  margin: 3px 0;
  font-size: 14px;
  color: #4a4a4a;
}

.contentPanel {
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

.kycPanelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 6px;
  flex-wrap: wrap;

}

.panelTitle {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.kycHeaderActions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchBar {
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
  background: #f5f5f5;
  border-radius: 10px;
  padding: 10px 22px;
  padding-right: 60px;
}

.searchIcon {
  font-size: 14px;
  color: #555;
  margin-right: 6px;
}

.searchInput {
  border: none;
  background: transparent;
  outline: none;
  font-size: 13px;
  width: 140px;
}


.kycTableContainer
.overrideTableContainer {
  margin-top: 12px;
 overflow-x: auto; 
border-radius: 20px;
border: #656363 1px solid;
margin-left: -15px;
overflow-y: auto;
 overflow-x: auto;
}


.kycTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
    max-width: 200%;
    overflow-y: auto;
}

.kycTable th {
  text-align: left;
  background: #f3f7fa;
padding: 18px;
  border-bottom: 1px solid #888686;
  padding-left: 86px;
}

.kycTable td {
padding: 18px;
  border-bottom: 1px solid #888686;
  padding-left: 70px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userName {
  font-weight: 600;
}

.userEmail {
  font-size: 12px;
  color: #555;
}

.statusBadge {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.statusPending,
.statusUnderReview,
.statusApproved {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
}

.statusPending {
  background: #ffffff;
  padding: 6px 26px;
  color: #264DAF;
  border-color: #264DAF;
    border-radius: 6px;
}

.statusUnderReview {
  background: #D4183D;
  color: #ffffff;
    padding: 6px 12px;
    border-radius: 6px;
}

.statusApproved {
  background: #264DAF;
  color: #ffffff;
    padding: 6px 26px;
      border-radius: 6px;
}


.btnViewDetail {
 background: #264DAF;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
}

.restrictionsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.checkboxLabel {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  color: black;
}


.checkboxLabel input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  outline: none;
  background: white;
  display: inline-block;
  transition: 0.3s;
}


.checkboxLabel input[type="checkbox"]:checked {
  background-color: #264DAF;

}


.checkboxLabel input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 6px;
  height: 12px;
  border: 2px solid white; 
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.panelTitle
{
  color: #000000;
  font-weight: 600;
  font-size: 22px;
  font-style: initial;
}

.overrideHeader {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}


@media (max-width: 900px) {
  .kycPanelHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }

  .kycHeaderActions {
    width: 100%;
  }

  .searchBar,
  .searchBarOverride {
    width: 100%;
  }

  .restrictionsGrid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .headerBox h1 {
    font-size: 22px;
  }
  .headerBox h2 {
    font-size: 16px;
  }

  .overrideHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .btnBack {
    width: 100%;
    text-align: center;
  }

  .searchBarOverride {
    width: 100%;
  }

  .btnOverride {
    width: 100%;
  }

  table th,
  table td {
    font-size: 12px;
    padding: 10px;
  }
}


@media (max-width: 600px) {
  .restrictionsGrid {
    grid-template-columns: 1fr;
  }

  .kycPanelHeader {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .kycHeaderActions {
    width: 100%;
    justify-content: space-between;
  }

  .searchInput {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .kycHeaderActions {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
  }

  .searchBar {
    width: 100%;
  }

  .btnOverride {
    width: 100%;
    text-align: center;
  }
  .adminBox {
    width: 100% !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    box-sizing: border-box;
  }
  .restrictionsGrid {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .panelTitle{
    font-size: 14px;
  }
  .adminIcon{
    font-size: 60px;
  }

 .checkboxLabel {
    display: flex;          
    align-items: center;    
    gap: 8px;            
    flex-wrap: nowrap;      
    width: 100%;
  }

  .checkboxLabel input[type="checkbox"] {
    flex-shrink: 0;        
    width: 18px;
    height: 18px;
  }

  .checkboxLabel span,
  .checkboxLabel {
    white-space: normal;    
  }
  
.btnViewDetail{
  font-size: 10px !important;
}
}
