.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  z-index: 9999;
}

.modal {
  width: 650px;
  max-width: 95%;
  background: #fff;
  border-radius: 14px;
  padding: 22px;
  max-height: 92vh;
  overflow-y: auto;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.header h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  color: #222;
  text-align: center;
  padding-bottom: 0px;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  line-height: 1;
  color: #555;
}
.closeBtn:hover { opacity: 0.7; }

.tabs {
  display: flex;
  gap: 10px;
  margin: 18px 0 20px;
  background: #D9D9D9;
  padding: 6px;
  margin-top: 0;
  border-radius: 20px;
}

.tab {
  flex: 1;
  padding: 10px 0;
  text-align: center;
  border-radius: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.active {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.card {
  background: #fff;
  border: 1px solid #264DAF;
  border-radius: 12px;
  padding: 18px;
  margin-bottom: 18px;
}

.cardHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 700;
  color: #000000;
  font-size: 16=4px;
}

.editBtn {
  background: #ffffff;
  border: none;
  color: #264daf;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
border: 1px solid #264daf;
  justify-content: flex-end;
  cursor: pointer;
  margin-left: 300px;
}

.cancelBtn {
  border: 1px #264DAF solid;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
   margin-left: 300px;
   margin-top: 40px !important;
   color: #264DAF;
   background-color: white;
}

.saveBtn {
  background: #264DAF;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
right: 59px;
     margin-top: 40px !important;
   
}

.editBtns {
  display: flex;
  gap: 6px;
  margin-left: -100px !important;
}

.summaryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px 30px;
}

.summaryRow {
  display: flex;
  flex-direction: column;
}

.summaryLabel {
  font-size: 13px;
  font-weight: 600;
  color: #7C7676;
  margin-bottom: 3px;
}

.summaryValue {
  font-size: 14px;
  color: #030303;
  font-weight: 600;
}

.summaryInput,
.summaryInputArea {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #c8c8c8;
  font-size: 14px;
}

.summaryInputArea {
  height: 70px;
  resize: none;
}

.kycRow {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #7C7676;
}

.statusTag {
  padding: 5px 12px;
  border-radius: 8px;
  font-size: 13px;
  border: 1px solid transparent;
}

.statusPending {
  background: #ffffff;
  color: #264DAF;
  border-color: #264DAF;
  padding: 4px 20px;
     border-radius: 14px;
}

.statusApproved {
  background: #264DAF;
  color: #ffffff;
   padding: 4px 20px;
   border-radius: 14px;
}

.statusReview {
  background: #FF0000;
  color: #ffffff;
   padding: 4px 20px;
      border-radius: 14px;
}

.dropdown {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.infoBlock {
  margin-bottom: 10px;
  line-height: 22px;
  color: #030303;
  font-weight: 600;
}

.infoLabel {
  font-weight: 600;
  color: #7C7676;
  margin-top: 20px;
}

.infoValue {
  opacity: 0.9;
  color: #030303;
}

.bvnCard {
  background: #fff;
  border: 1px solid #e3e6eb;
  border-radius: 12px;
  padding: 18px;
}

.sectionTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
   padding-left: 40px;
   color: #030303;
}

.sectionTitle2 {
 font-size: 18px;
  font-weight: 500;
  margin-bottom: 2px;
   padding-left: 40px;
   margin-top: 20px;
   color: #030303;
   
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.column {
  flex: 1;
  padding: 12px;
 padding-left: 40px;
}

.label {
  font-size: 14px;
  color: #7C7676;
}

.bigValue {
  font-size: 17px;
  font-weight: 600;
  margin: 6px 0;
}

.verifiedTag {
  background: #264DAF;
  color: #ffffff;
  padding: 4px 22px;
  border-radius: 12px;
  font-size: 14px;
}

.matchRow {
  display: flex;
  gap: 10px;
  padding-right: 80px;
}

.matchBox {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
}

.matchLabel {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 6px;
}

.matchBtn {
  background: #264DAF;
  color: #ffffff;
  padding: 6px 22px;
  border-radius: 12px;
  font-size: 12px;
}
.uploadIconImg{
  width: 14px;
  height: 14px;
  margin-top: 10px;
}

.uploadText{
  color: #030303;
  font-weight: 600;
  padding: 2px;
  font-size: 20px;
}
.docsGrid {
  display: flex;
  justify-content: center;   
  align-items: center;     
  gap: 20px;                
  margin-top: 18px;
  flex-wrap: wrap;  
}        

.docBox {
  width: 150px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.docImg {
  width: 120px;     
  height: 110px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 6px;
  display: block;
  margin: 0 auto;   
}

.docName {
  font-size: 13px;
  font-weight: 700;
  color: #030303;
  opacity: 0.9;
  text-align: center;
}


.docName {
  font-size: 13px;
  opacity: 0.9;
  font-weight: 700;
  color: #030303;
}

.docStatus {
  font-size: 12px;
  color: #264DAF;
  background-color: #ffffff;
  padding: 4px 18px;
  border-radius: 12px;
  border: #264DAF 1px solid;
  margin-top: 4px;
}
.userImg {
  width: 17.5px;
  height: 21.5px;
  left: 402px;
  top: 394px;
}

@media (max-width: 480px) {

  .modal {
    width: 95%;
    padding: 14px;
    max-height: 75vh;
  }

  .header h3 {
    font-size: 18px;
    text-align: left;
  }

  .cardHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .editBtn,
  .cancelBtn {
    margin-left: 0;
    width: 30%;
    justify-content: center;
  }
.editBtn{
  margin-left: 170px;
  width: 34%;
}
  .editBtns {
    width: 100%;
    display: flex;
     justify-content: flex-end;
     margin-top: 0% !important;
  }

  .saveBtn {
    width: 30%;
  }

  .summaryGrid {
    grid-template-columns: 1fr;
  }

  .kycRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .row {
    flex-direction: column;
  }

  .column {
    padding-left: 0;
  }

  .sectionTitle,
  .sectionTitle2 {
    padding-left: 0;
    font-size: 16px;
  }

  .matchRow {
    flex-direction: column;
    padding-right: 0;
  }

  .docImg {
    width: 100% !important;
    height: 100% !important;
    max-height: 100%;
    object-fit: contain !important;
  }
  .uploadText {
    font-size: 16px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {

  .modal {
    width: 90%;
  }

  .summaryGrid {
    grid-template-columns: 1fr;
  }

  .editBtn,
  .cancelBtn {
    margin-left: auto;
  }

  .row {
    flex-direction: column;
  }

  .matchRow {
    padding-right: 0;
  }

  .docsGrid {
    justify-content: space-between;
  }

  .docBox {
    width: 45%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .modal {
    width: 85%;
  }

  .summaryGrid {
    grid-template-columns: 1fr 1fr;
  }

  .docBox {
    width: 160px;
  }
}

.sectionTitle,
.sectionTitle2,
.column,
.matchRow {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (max-width: 768px) {

  .bvnCard {
    padding: 14px;
  }

  .row {
    flex-direction: column !important;
    gap: 16px;
  }

  .column {
    width: 100% !important;
    padding: 12px !important;
    background: #f7f8fc;
    border-radius: 10px;
  }

  .label {
    font-size: 13px;
  }

  .bigValue {
    font-size: 15px;
  }
  
.cancelBtn{
  margin-top: 0px !important;
}
.saveBtn{
  margin-top: 0px !important;
}
.editBtns{
  margin-left: 10px !important;
}

  .verifiedTag {
    display: inline-block;
    margin-top: 6px;
    font-size: 12px;
    padding: 4px 14px;
  }

  .matchRow {
    display: flex !important;
    flex-direction: column !important;
    gap: 12px;
    margin-top: 10px;
  }

  .matchBox {
    width: 100% !important;
    background: #f7f8fc;
    border-radius: 10px;
  }

  .matchBtn {
    width: 100%;
    display: block;
    text-align: center;
  }
}

@media (max-width: 768px) {

  .docsGrid {
    display: grid !important;
    grid-template-columns: 1fr !important;
    gap: 14px;
    width: 100%;
  }

  .docBox {
    width: 100% !important;
    padding: 12px;
  }

  .docName {
    text-align: center;
    font-size: 13px;
  }

  .docStatus {
    display: block;
    width: fit-content;
    margin: 6px auto 0;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .docsGrid {
    grid-template-columns: 1fr 1fr !important;
  }
}
.userImageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}

.userImgLarge {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 6px;
  border: 2px solid #246daf;
}

.userImageInput {
  width: 6rem !important;
  padding: 6px 8px;
  font-size: 0.875rem;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}
