
/* Severity Colors */
.severity-critical {
  background-color: #f8d7da;
  color: #842029;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
  height: fit-content;
}

.severity-high {
  background-color: #fff3cd;
  color: #664d03;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
  height: fit-content;
}

.severity-medium {
  background-color: #cff4fc;
  color: #055160;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
  height: fit-content;
}

.severity-low {
  background-color: #d1e7dd;
  color: #0f5132;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
  height: fit-content;
}

.responsiveWrapper {
  width: 100%;
  overflow-x: auto; /* scroll only if table is wider than screen */
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background-color: white;
  border: 1px solid #e2e8f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  table-layout: auto; /* allow column width to adjust */
}

thead th,
tbody td {
  padding: 12px;
  text-align: left;
}

tbody td {
  font-size: 14px;
  color: #555;
}

/* Severity badges stay same */
.severity-critical,
.severity-high,
.severity-medium,
.severity-low {
  display: inline-block;
  border-radius: 50px;
  padding: 2px 15px;
  text-align: center;
}

/* Table container for vertical scroll */
.tableContainer {
  overflow-y: auto;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

/* Sticky header */
.tableContainer thead th {
  position: sticky;
  top: 0;
  background-color: #f0f2f5;
  z-index: 1;
}

@media (max-width: 1024px) {
  thead th,
  tbody td {
      white-space: nowrap;

  }
}

/* Mobile tweaks */
@media (max-width: 768px) {
  thead th,
  tbody td {
    padding: 8px;
    font-size: 13px;

  }
  
  table {
    min-width: 100%; /* fit mobile better */
  }
}

